/* -- TYPO -- */

/* -- BTN/LINK -- */

button {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background-color: #d35603;
}

.react-calendar {
  max-width: 500px;
}

.react-calendar button {
  background-color: whitesmoke;
}

.react-calendar__navigation button {
  padding: 0 0.5em;
  font-size: 1.5rem;
}

.react-calendar__navigation span {
  font-size: 1rem;
}

button:active {
  background-color: #d35603;
}

button,
input {
  border-radius: 5px;
  width: fit-content;
}

input {
  padding: 1em;
  font-size: 1rem;
  border: 1px solid black;
}

.delete-btn {
  cursor: pointer;
  padding: 0 0 0 2em;
}

.delete-btn svg {
  width: 20px;
  height: 20px;
}
/* -- LAYOUT -- */

section {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75rem !important;
}

.calendar-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.react-calendar {
  position: absolute;
  background-color: whitesmoke;
  height: max-content;
  z-index: 3;
  padding: 1em;
  width: 80%;
  bottom: 0;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-around;
}

li {
  display: flex;
}

.amount {
  margin-left: auto;
}

.graph {
  max-width: 1000px;
  margin-top: 2em;
}

.data-list {
  margin-top: 2em;
  max-width: 500px;
}

/* -- UTILITY -- */

/* -- Firefox -- */
.no-spinners {
  -moz-appearance: textfield;
}

/* -- MEDIA -- */
